footer.footer 
  .footer__logo
    img(src='/img/logo-green.png' alt='Far From Home logo')
  ul.footer__nav
    li: a(href='https://github.com/Monteiro20') About us
    li: a(href='https://github.com/Monteiro20') Download apps
    li: a(href='https://github.com/Monteiro20') Become a guide
    li: a(href='https://github.com/Monteiro20') Careers
    li: a(href='https://github.com/Monteiro20') Contact 
  p.footer__copyright &copy; This model was created by Jonas for learning and built by me António de Sousa